extends layout.pug

block content
  .container
    .app-header Mark's Library
    
    form#library-input(action="/app/library/add" method='post')
      input(type='text' placeholder='Title' name='title')
      button(type='submit') Add
    
    table#library-table
      tr
        th Book ID
        th Title
      each book in books
        tr
          td.bookId= book.dataValues.id
          td.bookTitle= book.dataValues.title
          td
            form(action=`/app/library/remove/${book.dataValues.id}` method='post')
              button(type='submit' name=`${book.dataValues.id}`) X
            form(action=`/app/library/edit/${book.dataValues.id}` method='post')
              button(type='submit' name=`${book.dataValues.id}`) /

